BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 100
AccessModifierOffset: -2
BreakBeforeBraces: Attach
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  # 本包头文件
  - Regex: '^"marsdog'
    Priority: 1
  # ROS 头文件
  - Regex: '^<(rclcpp|std_msgs|geometry_msgs|sensor_msgs|nav_msgs|tf2)'
    Priority: 2
  # Eigen
  - Regex: '^<Eigen'
    Priority: 3
  # 标准库
  - Regex: '^<'
    Priority: 4
